$theme-1: #1a1b16;
$theme-2: #003b39;
$theme-3: #a20224;
$theme-4: #2e86de;

$theme-1a: #1b1c17d9;
$theme-2a: #003b39d9;
$theme-3a: #a20225d9;
$theme-4a: #2e86ded9;

$theme-1b: #1b1c1799;
$theme-2b: #003b3999;
$theme-3b: #a2022599;
$theme-4b: #2e86de99;

$fb: #3b5998;
$facebook: #3b5998;
$in: #0e76a8;
$linkedin: #0e76a8;
$twit: #1DA1F2;
$twitter: #1DA1F2;
$insta: #bc2a8d;
$instagram: #bc2a8d;
$p: #E60023;
$pinterest: #E60023;
$y: #FF0000;
$youtube: #FF0000;

$black: #1a1b16;
$black-50: #1a1b16;
$fff: #f5f6fa;
$fff-50: #ffffff8a;
$grey: #393945;
$grey-50: #b2bec3;

$cream: #ecf0f1;